#retangulo1 {
  display:grid;
  gap: 20px;
}

.retangulo_maior {
  width: 1200px;
  height: 300px;
  background-color: rgb(214, 232, 255);
  border-radius: 15px;
}

#retangulo2 {
  display:grid;
  gap: 20px;
} 

.retangulo_menor {
  width: 600px;
  height: 300px;
  background-color: rgb(214, 232, 255);
  border-radius: 15px;
}