body{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#linha{
    width: 50px;
    height: 50px;
}

















































































































































.body2 {
    background-color: white;
}

#retangulo {
    display: flex;
    flex-wrap: wrap;
    width: 2000px;
    gap: 20px;
}

.retangulo_maior {
  width: 1200px;
  height: 300px;
  background-color: rgb(214, 232, 255);
  border-radius: 15px;
}
.retangulo_menor {
  width: 600px;
  height: 300px;
  background-color: rgb(214, 232, 255);
  border-radius: 15px;
}