body{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#linha{
    width: 50px;
    height: 50px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #f4f4f4;
    border-right: 1px solid #aaa;
    padding: 15px;
}

.conteudo{
    margin-left: 240px;
    padding: 20px;
}

#botoes button{
    margin: 5px;
}

















































































































































.body2 {
    background-color: white;
}

#retangulo {
    display: flex;
    flex-wrap: wrap;
    width: 2000px;
    gap: 20px;
}

.retangulo_maior {
  width: 1200px;
  height: 300px;
  background-color: rgb(214, 232, 255);
  border-radius: 15px;
}
.retangulo_menor {
  width: 600px;
  height: 300px;
  background-color: rgb(214, 232, 255);
  border-radius: 15px;
}